@import url('https://fonts.googleapis.com/css2?family=GT+America:wght@400;700&display=swap');

body {
    font-family: 'GT America', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, purple, cyan), 
                linear-gradient(to bottom left, black, transparent 50%, black);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-blend-mode: multiply;
}

#__next {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background: linear-gradient(to bottom, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
    color: white;
    padding: 10px 20px; /* Adjusted padding to maintain spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* Fixed height for header */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 2px; /* 2px separation between links */
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.contact-container {
    margin-right: 0; /* Reset any margin on the container */
}

.contact-button, .button, .schedule-button, .download-button, .subscribe-button {
    background: linear-gradient(to right, purple, cyan);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    border: 2px solid white; /* Add a white border */
}

.contact-button:hover, .button:hover, .schedule-button:hover, .download-button:hover, .subscribe-button:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7); /* Keep the glow effect */
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px; /* Add padding of 60px from the container's margin */
    margin-top: 60px; /* Adjusted for fixed header */
    margin-bottom: 20px;
    height: 200px; /* Adjust height as needed */
    position: relative;
    z-index: 500; /* Ensure sub-header is above other elements */
    background-color: transparent; /* Make the sub-header background completely transparent */
}

.text-container {
    text-align: center;
}

.text-container h1 {
    margin: 0;
    color: white; /* Ensure the text is readable on the gradient background */
}

.text-container p {
    margin: 0;
    color: white; /* Ensure the text is readable on the gradient background */
    font-size: 0.8em; /* Smaller font size for the subtitle */
}

.sub-header-logo {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    margin-right: 20px; /* Space between the logo and the text */
}

.aspect-ratio-16-9 {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

.aspect-ratio-16-9 > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gif-placeholder {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 10px auto; /* Center the container */
    height: 300px;
    background-color: rgba(221, 221, 221, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.catchphrase-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 0 auto 40px auto; /* Center the container */
    height: 100px;
    background-color: rgba(238, 238, 238, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
}

.side-by-side-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 0 auto 10px auto; /* Center the container */
    display: flex;
    justify-content: space-between;
}

.container {
    width: calc((50% - 5px) * 2 / 3); /* Reduce width by a third */
    height: 200px;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.mission-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 10px auto 40px auto; /* Center the container */
    height: 300px;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
}

.statistics-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 0 auto 40px auto; /* Center the container */
    display: flex;
    justify-content: space-between;
}

.stat-container {
    width: calc((25% - 15px) * 2 / 3); /* Reduce width by a third */
    height: 150px;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.schedule-button {
    background: linear-gradient(to right, purple, cyan);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    margin: 50px auto;
    display: block;
    width: fit-content;
    border: 2px solid white; /* Add a white border */
}

.schedule-button:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}

.fractional-cfo-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 50px auto; /* Center the container */
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 20px 0;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
}

.fractional-cfo-container h2 {
    margin-bottom: 50px;
}

.placeholders {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 0 auto 50px auto; /* Center the container */
    display: flex;
    justify-content: space-between;
}

.placeholder {
    width: calc((300px) * 2 / 3); /* Reduce width by a third */
    height: 300px;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    margin: 0 10px; /* Adjusted margin for spacing */
}

.placeholders .placeholder:first-child {
    margin-left: 0; /* Remove left margin for the first placeholder */
}

.placeholders .placeholder:last-child {
    margin-right: 0; /* Remove right margin for the last placeholder */
}

.new-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 50px auto; /* Center the container */
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 20px 0;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
}

.new-container h2 {
    margin-bottom: 50px;
}

.new-placeholders {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 0 auto 50px auto; /* Center the container */
    display: flex;
    justify-content: space-between;
}

.new-placeholder {
    width: calc((50% - 10px) * 2 / 3); /* Reduce width by a third */
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
}

.new-placeholder h3 {
    margin-bottom: 20px;
}

.new-placeholder ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.key-values-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 50px auto; /* Center the container */
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 20px 0;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
}

.key-values-container h2 {
    margin-bottom: 50px;
}

.key-values-placeholders {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 0 auto 50px auto; /* Center the container */
    display: flex;
    justify-content: space-between;
}

.key-values-placeholder {
    width: calc(150px * 2 / 3); /* Reduce width by a third */
    height: 150px;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    margin: 0 5px; /* Reduced margin for closer spacing */
}

.additional-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 50px auto; /* Center the container */
    text-align: center;
    padding: 20px 0;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
}

.additional-container .half-container {
    width: calc((100% - 80px) * 2 / 3); /* Reduce width by a third */
    margin: 0 auto 20px auto; /* Center the container */
    display: flex;
    justify-content: space-between;
}

.half-container .left, .half-container .right {
    width: calc((50% - 10px) * 2 / 3); /* Reduce width by a third */
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background */
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #333;
}

.download-button {
    background: linear-gradient(to right, purple, cyan);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    margin: 50px auto;
    display: block;
    width: fit-content;
    border: 2px solid white; /* Add a white border */
}

.download-button:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}

footer {
    background: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
    color: white;
    padding: 20px; /* Adjusted padding to maintain spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Ensure the footer container is positioned relative */
    z-index: 1000; /* Ensure footer is above other elements */
}

.footer-logo-placeholder {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.subscribe-button {
    background: linear-gradient(to right, purple, cyan);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    position: absolute; /* Position the button absolutely */
    right: 60px; /* 60px from the right margin */
    border: 2px solid white; /* Add a white border */
}

.subscribe-button:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}
